extends layout

block content
    .row.banner
        .roundedbox
            .col-12
                h2.text #{title}
            
                p.text.lead This website was created by 
                            |
                            span.word Kevin Portillo, The Self-Proclaimed CS Wizard 
                            |  🧙‍♂️ as a personal portfolio site. I wanted to have a way to communicate my personal skills, projects, and career aspirations in my own unique way!
                p.text.lead I plan on adding a lot of content to this website to further show case who I am as a developer/person! 
                
                                    

                        
        

