extends layout

block content
    .row-banner 
        .col-12 
            .sharpbox
                h2.text #{title}
                p.text.lead This website was created by 
                          |
                          span.word Kevin Portillo, The Self-Proclaimed CS Wizard
                          |🧙‍♂️ as a part of my FullStack web development course. The website, although minimal, uses the MVC pattern and is built with Node.js, Express, and Pug.
                          | This website is a work in progress and I plan to add more features and functionality as I learn more about web development.
                          | It will in the future be converted to typescript, and fully implement the MEAN tech stack. 
                
                          

                          
           

