extends layout

block content
  .row
    .col-12.roundedbox
        h1.text Hello I am Kevin Portillo.
        h2.text I am a Software Engineer
       
        p.text.lead Welcome to the website, come look around!
  .row.banner
    .sharpbox
      .row
        .col-12.col-xl-9
          .col-12.text-center
            p.lead.text This website is very minimal, I took a lot of time to really nail down the looks and I enjoy the aesthetic I came up with.
                      |  I am planning on using this 'website' as template for other projects I have in mind.
            p.lead.text I was playing around with Pug and I enjoy it! It makes working with HTML a lot easier. 
                      | Aside from basic testing and learning, I have no real plans for this website.
                      | I really like this row, sidebar layout I have going on. I think it looks really nice.
                      | I could see myself using this layout on a portfolio. (Maybe with a more professional look.)
        .col-12.col-xl-3
          .sidebar
            .sharpbox 
              p.lead.text Hello World! I am on a sidebar                                  
                                    |  maybe we could put images here?
      .row.mt-5.mb-5  



                                  
   


