extends layout

block content
  .row
    .col-12.roundedbox
        h1.text Hello, I am Kevin Portillo.
        p.text.lead I'm a self-proclaimed programming Computer Wizard starting their professional career 🧳🧙‍♂️💻
        p.text.lead I am a recent Computer Science graduate with a strong foundation in software development, computer systems, web development and more.
        p.text.lead I’m adept in a range of programming languages and technologies. 
        p.text.lead I’m extremely passionate about leveraging my skills in various roles such as web development, systems engineering, or software engineering in some way.
                  |  Comeback Soon for more updates!
  .row.banner
  
    .roundedbox.complimentGrad
      .row.sharpbox.customGradient
        .text-center
            h2.text Who am I?
            p.lead.text I’m Kevin Portillo, a 2024 Computer Science graduate from Appalachain State univerity.
            p.lead.text I am very driven to expand my knowledge and skills in anything and everything CS that I have a passion for in! Some of these passions include: Software Engineering, Video game development, AI and related system Development, System and Network Admin, Cybersecurity, Software Solutions and Applications in businesses, Full Stack Web development, Low Level System applications, and the list could go on….
            p.lead.text I have not nailed down what I want to dedicate my career to but as long as I find it enjoyable, challenging, and rewarding I’ll have a blast learning and growing while doing the best I can! 
            p.lead.text Outside of computer science, I take a serious joy in other activities such: snowboarding, longboarding, fishing, hiking, camping. As much as I love computers, I have to remind myself to take a break from staring at the screen for so long and give my eyes a rest from the blue light. I have a healthy balance between working and enjoying the outdoors!
            p.lead.text “Don't climb mountains so that the world can see you, but for you see the world”





                                  
   


