extends layout

block content
  .row
    .col-12.roundedbox
        h1.text Hello, I am Kevin Portillo.
        h2.text I am a Software Engineer
       
        p.text.lead Welcome to my website, come look around! This site is still in the works. 
                  |  Comeback Soon for more updates!
  .row.banner
    .roundedbox
      .row.sharpbox
        .col-12.col-xl-9
          .col-12.text-center
          
            h2.text Who am I?
            p.lead.text Hello, I am Kevin Portillo, I'm a '24 Computer Science graduate from Appalachian State University. 
                      | I am a Software Engineer with a passion for anything and everything Computer Science has to offer. 
                      | I am currently working on a few projects, and I am always looking for new opportunities. 
                      | I am also, always looking to expand my knowledge and experience in the field. I love discovering new things and learning.
            h5.text I always say there's nothing I cant learn!
        .col-12.col-xl-3
          .sidebar
            .sharpbox.container
                img(src="/images/kevdawiz.jpg", alt="Kevin Portillo The Wizard", class="img-fluid")
                                       
      .row.mt-5.mb-5  
      .sharpbox
        h2.text What am I working on?
        p.lead.text A few of the projects I am currently working on are: This portfoilo site; a couple web apps to strengthen my Full Stack skills;
                  | I am working on a Unity game with a partner for my Senior Capstone project; and I am also working on a few other projects to strengthen my skills in other areas.
        p.lead.text I am always looking for new experiences to learn and grow from. I am also looking for new opportunities to work with others and to help others grow as well.



                                  
   


